{% extends 'base.html.twig' %}

{% block title %}Hello Tom{% endblock %}

{% block body %}


    <div class="research">
	    {% include "movie/_search.html.twig" %}
    </div>
    
        
{% endblock %}
