{% extends 'base.html.twig' %}

{% block title %}Hello Tom{% endblock %}

{% block body %}
    <div class="container">
        <div class="grid">
            {% for movie in movie %}
                {% include "movie/_cartemovie.html.twig"%}
            {% endfor %}
        </div>
    </div>
    <div>
        {{ knp_pagination_render(movies) }}
    </div>
{% endblock %}
{% block _sidebarright %}
    <div class="filter col-2 m-2">
        {% include "movie/_filter-movie.html.twig" %}
    </div>
{% endblock %}

