{% extends 'base.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}
<h1> Bonjour Tom ceci est la page de ton site où devront s'afficher les différents genres des films, tu t'en occuperas plus tard </h1>

{% endblock %}
