{% extends 'base.html.twig' %}

{% block title %}Hello Tom{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
         {% for genre in genre %}
            <div class="card col-3" style="width: 18rem;">
                    <div class="card-body">
                        <ul class="list-genre list-genre-flush">
                            <li class="list-genre-name"><b>Genres : </b>{{genre.name}}</li>
                            <li class="list-genre-id"><b>Genres : </b>{{genre.id_tmdb}}</li>
                        </ul>     
                    </div>
            </div>
            {% endfor %}
        </div> 
    </div>
    
{% endblock %}
