{% extends 'base.html.twig' %}

{% block title %}Hello Tom{% endblock %}

{% block body %}

{# <pre>
	{{ dump(path("search_", { search : "-url-"})) }}
</pre> #}

<form id="searchForm" action="{{ path("movie_searchMovie") }} method="GET">
{# <form id="searchForm" action="/search/"> #}
	<input type="search" name="search" placeholder="Recherche">
	<button type="submit" value="Go">
</form>

{# <script>
	form = document.getElementById('searchForm');
	form.addEventListener('submit', function(e) {
		e.preventDefault();
		var url = form.action.replace('-url-', form.search.value);
		console.log(url);
		window.location.href = url;
	});
</script> #}

<div class="row">
	{% for movie in data %}
		{# https://twig.symfony.com/doc/3.x/tags/include.html #}
		{% include "movie/_card-movie.html.twig" with {'movie': movie, 'addLink': true } %}
	{% endfor %}
</div>
{% endblock %}
