{% extends 'base.html.twig' %}

{% block title %}Hello Tom{% endblock %}

{% block body %}

<div class="research">
	{# <form id="searchForm" action="{{ path("movie_searchMovie") }}" method="GET">
		<input type="search" name="research" placeholder="Recherche">
		<button type="submit" value="Go">Go</button>
	</form> #}

	{% include "movie/_search.html.twig" %}
</div>


{# <script>
	form = document.getElementById('searchForm');
	form.addEventListener('submit', function(e) {
		e.preventDefault();
		var url = form.action.replace('-url-', form.search.value);
		console.log(url);
		window.location.href = url;
	});
</script> #}

		{# {{ dump(data) }} #}
<div class="row">
	{% for movie in data %}
		{# https://twig.symfony.com/doc/3.x/tags/include.html #}
		{% include "movie/_card-movie.html.twig" with {'movie': movie, 'addLink': true } %}
	{% endfor %}
</div>
{% endblock %}
