{% extends 'base.html.twig' %}


{% block body %}
    <form id="researchForm" action="{{ path("movie_searchMovie")}}" method="get">
        <input type="search" name="research" placeholder="Recherche par nom de film">
        <button type="submit" value="Search">Search</button>
{% endblock %}
