<div class="soon">
    <h1> Page en cours de construction </h1>
    <img class="encours mx-auto" src="{{asset('img/Encours.jpg')}}" alt="Page en cours d'élaboration">
    <div>
        <a href="{{ path('home') }}" class="btn btn-success mt-2" aria-current="true">Retour à l'accueil</a>
    </div>
</div>

