<div class="soon">
    <h1> Page en cours de construction </h1>
    <img class="encours" src="{{asset('img/Encours.png')}}" alt="Page en cours d'élaboration">
    <div>
        <a href="{{ path('home') }}" class="btn btn-success" aria-current="true">Retour à l'accueil</a>
    </div>
</div>