/*  Carousel */

.bgDegrade{
    background: linear-gradient(rgb(71,6,174), white);
}

/* NavBar */

nav a{
    color:yellow !important;
    font-size: 25px;
}

nav a:hover{
    color: violet !important;
}

/* Cards Movie */

.cardMovie
{
    background-color: rgba(255, 215, 0, 0.89);
    margin: 2em;
    height: auto;
    box-shadow: 10px 5px 5px rgba(255, 215, 0, 0.89);
}

body{
    background-color: rgba(16, 2, 66, 0.89);
}

/* .synopsis{
    height: 10px;
} */