/*  Carousel */

.bgDegrade{
    background: linear-gradient(rgb(71,6,174), white);
}

/* NavBar */

nav a{
    color:yellow !important;
    font-size: 25px;
}

nav a:hover{
    color: violet !important;
}

/* Cards Movie */

.cardMovie
{
    background-color: rgba(255, 215, 0, 0.89);
    height: auto;
    /* box-shadow: 10px 5px 5px rgba(255, 215, 0, 0.89); */
    
}

body{
    background-color: rgba(16, 2, 66, 0.89);
}

.cardMovie li{
    list-style-type: none;
    /* padding-left: 0; */
}

/* Cards Results */

.cardResult{
    background-color: rgba(255, 215, 0, 0.89);
    height: auto;
    /* box-shadow: 10px 5px 5px rgba(255, 215, 0, 0.89); */
    max-width: 100%;
}

.cardResult li{
    list-style-type: none;
    /* padding-left: 0; */
}

.cardResult button{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center; 
}

/* Admin */

/* Voir admin.css */

/* Footer */

.footer{
    background-color: aqua;
    color: white;
    text-align: center;
    padding: 10px;
}