{# {% extends 'base.html.twig' %} #}
{% extends 'admin.html.twig' %}

{% block title %}Ajout d'une nouvelle collection{% endblock %}

{% block body %}
    <div class="addForm">
        <h1>Create new Collections</h1>
        
            {{ include('admin/collections/_form.html.twig') }}
        
        <a href="{{ path('admin_collections_index') }}" class="btn btn-dark"><i class="bi bi-backspace"> Back to list</i></a>
    </div>
{% endblock %}
