<div class="cardCollection col-12";>
    <div class="row"> 
        <p> Les collections disponibles </p>              
        {% for collection in collections %}
            <div class="card col-12">
                <img src="{{ vich_uploader_asset(collection, 'imageFile') }}" class="card-img-top h-100 d-inline-block p-3" alt={{collection.type}}>
            </div>
            <div class ="col-12">
                <div class ="card-body">
                    <h5 class="card-name">{{ collection.name }}</h5>
                </div>
            </div>           
        {% endfor %}
    </div> 
    <div>
        <a href="{{ path('collections_new') }}" class="btn btn-primary">Créer une collection</a>
    </div>
</div>