{% extends 'base.html.twig' %}

{% block title %}Collections{% endblock %}

{% block body %}
<ul>
		{% for collection in collections %}
			<li>{{ collection.type }}</li>
            
            {# <li>{{ collection.picture }}</li> #}
            <li><img src="{{ vich_uploader_asset(collection, 'imageFile') }}" alt="{{ collection.type }}" /></li>
		{% endfor %}
	</ul>
{% endblock %}
